<mat-action-list *ngIf="!selected">
    <h1>Comunicaciones</h1>
    <div *ngFor="let cliente of clientes; let i = index">
        <button mat-list-item (click)="seleccionarCliente(cliente.nombre, cliente.plan_id, cliente.cliente_id)">
            {{cliente.nombre}}
        </button>
    </div>
</mat-action-list>
<div *ngIf="selected">
    <h2>Realizar comunicación a {{nombre}}</h2>
    <mat-list-item id="contenido">
        <div class="col-sm-12 table-responsive">
            <form (ngSubmit)="onSubmit()" [formGroup]="comunicacionForm">
                <mat-form-field class="form">
                    <mat-label>Escriba la comunicación</mat-label>
                    <textarea class="full-width" matInput placeholder="Se le informa..."
                        formControlName="texto"></textarea>
                </mat-form-field>
                <br>
                <button mat-raised-button color="primary" [disabled]="comunicacionForm.invalid"
                    type="submit">Enviar</button>
            </form>
            <button mat-button color="primary" (click)="cancelar()"> Cancelar
            </button>
        </div>
    </mat-list-item>
    <button mat-raised-button color='primary'
        [routerLink]="'/comunicaciones/cliente/'+nombre+'/'+clienteSeleccionadoId">Ver
        comunicaciones</button>


</div>