<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="35">
        <mat-toolbar color="warn"> Edición de plan </mat-toolbar>
        <form [formGroup]="planForm" fxLayoutAlign="stretch" fxLayout="column" class="login-form">
            <mat-form-field>
                <input matInput placeholder="Nombre del plan" formControlName="name">
                <mat-icon matSuffix>sell</mat-icon>
                <mat-error *ngIf="name.invalid">{{getErrorMessageName()}}</mat-error>
            </mat-form-field>
            <br>
            <h3><b>Temas:</b></h3>
            <div formArrayName="subjects">
                <div *ngFor="let temas of formArr.controls; let i =index">
                    <ng-container [formGroupName]="i">
                        <mat-form-field>
                            <input matInput placeholder="Nombre del tema" formControlName="nombre">
                            <mat-icon matSuffix>drive_file_rename_outline</mat-icon>
                            <mat-error *ngIf="name.invalid">{{getErrorMessageTema()}}</mat-error>
                        </mat-form-field>
                    </ng-container>
                </div>
                <br>
                <button mat-raised-button color="primary" (click)="addNewTema()">Añadir tema</button>
            </div>
            <br>
            <button mat-raised-button color="primary" [disabled]="planForm.invalid" (click)="onSubmit()">Editar
                Plan</button>
            <br>
            <button class="button" style="color:#004ef5" mat-flat-button color [routerLink]="'/planes'"><u>
                    Cancelar </u>
            </button>
        </form>
    </mat-card>
</div>