.main-div mat-card{
    padding: 0px;
}
.login-form{
    padding: 20px;
}
.button-row button{
    margin: 5px;
}
.button {
    width: 50px;
    text-align: center;
    text-decoration: none;
    display: inline;
}