<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1>Gimosa</h1>
    </mat-toolbar-row>
</mat-toolbar>
<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="35">
        <mat-toolbar> Inicio de Sesión | Gimosa</mat-toolbar>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" fxLayoutAlign="stretch" fxLayout="column"
            class="login-form">
            <mat-form-field>
                <input matInput placeholder="Correo" formControlName="email">
                <mat-icon matSuffix>account_circle</mat-icon>
                <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Contrasena" type="password" formControlName="password">
                <mat-icon matSuffix>vpn_key</mat-icon>
                <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
            </mat-form-field>
            <br>
            <button mat-flat-button color="primary" [disabled]="loginForm.invalid" type="submit">Iniciar
                Sesión</button>
            <br>
            <button mat-flat-button color="primary" [routerLink]="'/register'">Registrarse</button>
        </form>
    </mat-card>
</div>