<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="40">
        <mat-toolbar color="warn"> Crear cliente</mat-toolbar>
        <form [formGroup]="clienteForm" (ngSubmit)="onSubmit()" fxLayoutAlign="stretch" fxLayout="column"
            class="login-form">
            <mat-form-field>
                <input matInput placeholder="Nombre" formControlName="name">
                <mat-icon matSuffix>account_circle</mat-icon>
                <mat-error *ngIf="name.invalid">{{getErrorMessageName()}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Celular" formControlName="phone">
                <mat-icon matSuffix>phone</mat-icon>
                <mat-error *ngIf="phone.invalid">{{getErrorMessagePhone()}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email">
                <mat-icon matSuffix>email</mat-icon>
                <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Dirección" formControlName="address">
                <mat-icon matSuffix>address</mat-icon>
                <mat-error *ngIf="address.invalid">Por favor ingrese una dirección</mat-error>
            </mat-form-field>
            <br>

            <mat-form-field appearance="fill">
                <mat-label>Plan</mat-label>
                <mat-select formControlName="plan" required>
                    <mat-option *ngFor="let planes of planes" [value]="planes.id">
                        {{planes.nombre}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="plan.hasError('required')">Por favor seleccione un plan</mat-error>
                <mat-hint>{{plan.value?.sound}}</mat-hint>
            </mat-form-field>
            <br>
            <button mat-flat-button color="primary" [disabled]="clienteForm.invalid" type="submit">Crear
                cliente</button>
            <div class="button-row">
                <br>
                <button style="color:#004ef5" mat-flat-button color [routerLink]="'/administracion'"><u> Cancelar </u>
                </button>
            </div>
        </form>
    </mat-card>
</div>