<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1>Gimosa</h1>
    </mat-toolbar-row>
</mat-toolbar>
<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="35">
        <mat-toolbar> Registro | Gimosa</mat-toolbar>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" fxLayoutAlign="stretch" fxLayout="column"
            class="login-form">

            <mat-form-field>
                <input matInput placeholder="Correo" formControlName="email">
                <mat-icon matSuffix>email</mat-icon>
                <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Nombre de la empresa" formControlName="companyName">
                <mat-icon matSuffix>drive_file_rename_outline</mat-icon>
                <mat-error *ngIf="companyName.invalid">{{getErrorMessageCompanyName()}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="RUC de la empresa" formControlName="ruc">
                <mat-icon matSuffix>business</mat-icon>
                <mat-error *ngIf="ruc.invalid">{{getErrorMessageRuc()}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Contrasena" type="password" formControlName="password">
                <mat-icon matSuffix>vpn_key</mat-icon>
                <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
            </mat-form-field>
            <br>
            <button mat-flat-button color="primary" [disabled]="registerForm.invalid" type="submit">Registrarse</button>
            <br>
            <button mat-flat-button color="primary" [routerLink]="'/login'">Iniciar Sesión</button>


        </form>
    </mat-card>
</div>