<div *ngFor="let comunicacion of comunicaciones; let i =index">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Comunicación #{{i+1}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            {{comunicacion.texto}}
        </mat-card-content>
    </mat-card>
    <br>
</div>
<br>
<button mat-raised-button color='primary' (click)="regresar()">Regresar</button>