
button {
    margin-left: 10px;
}

.space-mp {
    padding: 9px;
    margin: 9px;
}

.card-ajustes {
   padding-bottom: 20px;
   padding-left: 20px;
}
 
.main-div mat-card {
    padding: 0px;
}

.login-form {
    padding: 20px;
}

.button-row button{
    margin: 5px;
}

#content[_ngcontent-ekj-c126] {
    height: 80vh;
    padding: 0% 0%;
}


