<div fxLayoutAlign="start" fxFlexFill class="main-div">
    <mat-card fxFlex="40">
        <mat-toolbar color="warn">Ajustes</mat-toolbar>
        <mat-card class='space-mp'>
            <mat-card-header class="space-mp">
                <div mat-card-avatar>
                    <mat-icon>account_circle</mat-icon>
                </div>
                <mat-card-title>Compañía</mat-card-title>
            </mat-card-header>

            <form [formGroup]="companiaForm" (ngSubmit)="onSubmitCompania()" class="space-mp" class="card-ajustes">
                <mat-form-field>
                    <input matInput type="text" placeholder="Nombre de la comapañía" formControlName="nuevo">
                    <mat-error *ngIf="nombreCompania.invalid">{{getErrorMessageCompanyName()}}</mat-error>
                </mat-form-field>
                <button mat-flat-button color="primary" mat-raised-button type="submit"
                    [disabled]="companiaForm.invalid">Cambiar nombre</button>
                <br>
            </form>

        </mat-card>
        <br>


        <mat-card class="space-mp">
            <mat-card-header class="space-mp">
                <div mat-card-avatar>
                    <mat-icon>fingerprint</mat-icon>
                </div>
                <mat-card-title>RUC</mat-card-title>

            </mat-card-header>
            <form [formGroup]="rucForm" (ngSubmit)="onSubmitRuc()" class="card-ajustes">
                <mat-form-field>
                    <input matInput type="text" placeholder="RUC" formControlName="nuevo">
                    <mat-error *ngIf="ruc.invalid">{{getErrorMessageRuc()}}</mat-error>
                </mat-form-field>
                <button mat-flat-button color="primary" mat-raised-button type="submit"
                    [disabled]="rucForm.invalid">Cambiar RUC</button>
                <br>
            </form>
        </mat-card>
        <br>


        <mat-card class="space-mp">
            <mat-card-header class="space-mp">
                <div mat-card-avatar>
                    <mat-icon>alternate_email</mat-icon>
                </div>
                <mat-card-title>Correo</mat-card-title>

            </mat-card-header>
            <form [formGroup]="emailForm" (ngSubmit)="onSubmitEmail()" class="card-ajustes">
                <mat-form-field>
                    <input matInput type="email" placeholder="Correo" formControlName="nuevo">
                    <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
                </mat-form-field>
                <button mat-flat-button color="primary" type="submit" mat-raised-button
                    [disabled]="emailForm.invalid">Cambiar correo</button>
                <br>
            </form>
        </mat-card>
        <br>




        <mat-card class="space-mp">
            <mat-card-header class="space-mp">
                <div mat-card-avatar>
                    <mat-icon>lock</mat-icon>
                </div>
                <mat-card-title>Contraseña</mat-card-title>

            </mat-card-header>
            <form [formGroup]="passForm" (ngSubmit)="onSubmitPassword()" class="card-ajustes">
                <mat-form-field>
                    <input matInput type="password" placeholder="Contraseña actual" formControlName="actual">
                    <mat-error *ngIf="passwordActual.invalid">{{getErrorMessagePassword()}}</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput type="password" placeholder="Contraseña nueva" formControlName="nuevo">
                    <mat-error *ngIf="passwordNueva.invalid">{{getErrorMessagePassword()}}</mat-error>
                </mat-form-field>
                <button mat-flat-button color="primary" type="submit" mat-raised-button
                    [disabled]="passForm.invalid">Cambiar contraseña</button>
                <br>
            </form>
        </mat-card>
        <br>
        <button class="button" style="color:#004ef5" mat-flat-button color [routerLink]="'/dashboard'"><u>
                Cancelar </u>
        </button>
        <br>
        <br>
    </mat-card>
</div>



<!-- <h1>Ajustes</h1>
<mat-card class='card-ajustes'>
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon>account_circle</mat-icon>
        </div>
        <mat-card-title>Compañía</mat-card-title>

    </mat-card-header>
    <form [formGroup]="companiaForm" (ngSubmit)="onSubmitCompania()">
        <mat-form-field>
            <input matInput type="text" placeholder="Nombre de la comapañía" formControlName="nuevo">
            <mat-error *ngIf="nombreCompania.invalid">{{getErrorMessageCompanyName()}}</mat-error>
        </mat-form-field>
        <button mat-raised-button type="submit" [disabled]="companiaForm.invalid">Cambiar nombre</button>
        <br>
    </form>
</mat-card>
<br>


<mat-card class='card-ajustes'>
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon>fingerprint</mat-icon>
        </div>
        <mat-card-title>RUC</mat-card-title>

    </mat-card-header>
    <form [formGroup]="rucForm" (ngSubmit)="onSubmitRuc()">
        <mat-form-field>
            <input matInput type="text" placeholder="RUC" formControlName="nuevo">
            <mat-error *ngIf="ruc.invalid">{{getErrorMessageRuc()}}</mat-error>
        </mat-form-field>
        <button mat-raised-button type="submit" [disabled]="rucForm.invalid">Cambiar RUC</button>
        <br>
    </form>
</mat-card>
<br>


<mat-card class='card-ajustes'>
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon>alternate_email</mat-icon>
        </div>
        <mat-card-title>Correo</mat-card-title>

    </mat-card-header>
    <form [formGroup]="emailForm" (ngSubmit)="onSubmitEmail()">
        <mat-form-field>
            <input matInput type="email" placeholder="Correo" formControlName="nuevo">
            <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button [disabled]="emailForm.invalid">Cambiar correo</button>
        <br>
    </form>
</mat-card>
<br>




<mat-card class='card-ajustes'>
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon>lock</mat-icon>
        </div>
        <mat-card-title>Contraseña</mat-card-title>

    </mat-card-header>
    <form [formGroup]="passForm" (ngSubmit)="onSubmitPassword()">
        <mat-form-field>
            <input matInput type="password" placeholder="Contraseña" formControlName="nuevo">
            <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button [disabled]="passForm.invalid">Cambiar contraseña</button>
        <br>
    </form>
</mat-card>
<br> -->