<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <!-- <mat-icon (click)="sidenav.toggle()">menu</mat-icon> -->
        </button>
        <h1>Gimosa</h1>
    </mat-toolbar-row>
</mat-toolbar>