<mat-card-title>
    Administración de clientes y planes
</mat-card-title>
<mat-card-content>
    <button mat-stroked-button color="primary" style="margin-right: 10px;" [routerLink]="'/clientes/crear'">Crear
        cliente</button>
    <button mat-stroked-button color="primary" [routerLink]="'/planes/crear'">Crear plan</button>
    <mat-list>
        <mat-list-item>
            <button mat-button color="primary" [routerLink]="'/clientes'">
                <mat-icon>arrow_right</mat-icon> Clientes
            </button>
        </mat-list-item>
        <mat-list-item>
            <button mat-button color="primary" [routerLink]="'/planes'">
                <mat-icon>arrow_right</mat-icon>
                Planes
            </button>
        </mat-list-item>

    </mat-list>
</mat-card-content>