<mat-card-title>
    Administración de clientes y planes
</mat-card-title>
<mat-card-content>
    <button mat-stroked-button color="primary" style="margin-right: 10px;" [routerLink]="'/clientes/crear'">Crear
        cliente</button>
    <button mat-stroked-button color="primary" [routerLink]="'/planes/crear'">Crear plan</button>
    <mat-list>
        <mat-list-item>
            <button mat-button color="primary" [routerLink]="'/administracion'">
                <mat-icon>arrow_drop_down</mat-icon> Clientes
            </button>
        </mat-list-item>
        <mat-list-item id="contenido">
            <div class="mat-elevation-z8">


                <mat-table [dataSource]="clientes">


                    <ng-container matColumnDef="index">
                        <mat-header-cell *matHeaderCellDef> Num. </mat-header-cell>
                        <mat-cell *matCellDef="let element; let i = index"> {{i+1}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="nombre">
                        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="celular">
                        <mat-header-cell *matHeaderCellDef> Celular </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.celular}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="direccion">
                        <mat-header-cell *matHeaderCellDef> Dirección </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.direccion}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="plan">
                        <mat-header-cell *matHeaderCellDef> Plan </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.plan}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="editar">
                        <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
                        <mat-cell *matCellDef="let element"><button mat-raised-button color='primary'
                                (click)="editar(element.cliente_id)">Editar</button>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="eliminar">
                        <mat-header-cell *matHeaderCellDef> Eliminar </mat-header-cell>
                        <mat-cell *matCellDef="let element"><button mat-raised-button color='warn'
                                (click)="openDialog(element.nombre, element.cliente_id)">Eliminar</button>
                        </mat-cell>
                    </ng-container>


                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                </mat-table>

            </div>

        </mat-list-item>
        <mat-list-item>
            <button mat-button color="primary" [routerLink]="'/planes'">
                <mat-icon>arrow_right</mat-icon>
                Planes
            </button>
        </mat-list-item>

    </mat-list>
</mat-card-content>