<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button aria-label="menu">
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1>Gimosa</h1>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>

            <a mat-list-item [routerLink]="'/'"> Home </a>
            <a mat-list-item [routerLink]="'/administracion'"> Administracion</a>
            <a mat-list-item [routerLink]="'/agendar'"> Agendar </a>
            <a mat-list-item [routerLink]="'/comunicaciones'"> Comunicaciones </a>
            <a mat-list-item [routerLink]="'/ajustes'"> Ajustes </a>
            <a mat-list-item (click)="logout()"> Cerrar Sesión </a>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div id="content">
            <mat-card>
                <router-outlet></router-outlet>
            </mat-card>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>