#content{
    height: 82vh;
    padding: 3% 5%;
}
mat-card{
    padding-left: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
}

mat-nav-list{
    padding-left: 30px;
    padding-right: 30px;
}
mat-nav-list a{
    margin-bottom: 10px;
}