<mat-action-list *ngIf="!selected">
    <h1>Agendar cliente</h1>
    <div *ngFor="let cliente of clientes; let i = index">
        <button mat-list-item (click)="seleccionarCliente(cliente.nombre, cliente.plan_id, cliente.cliente_id)">
            {{cliente.nombre}}
        </button>
    </div>
</mat-action-list>
<div *ngIf="selected">
    <h2>Realizar agenda a {{nombre}}</h2>
    <button mat-raised-button color='primary' [routerLink]="'/agendas/cliente/'+nombre+'/'+clienteSeleccionadoId">Ver
        agendas realizadas</button>
    <br>
    <br>
    <br>
    <mat-list-item id="contenido">

        <div class="col-sm-12 table-responsive">
            <form (ngSubmit)="onSubmit()" [formGroup]="agendaForm">
                <div formArrayName="itemRows">
                    <table class="table">
                        <thead>
                            <tr>

                                <th style="white-space: nowrap;padding-right: 4em;float:center"> </th>
                                <th style="white-space: nowrap;padding-right: 4em;float:center"><span
                                        class="required-field"></span>Fecha de capacitación </th>
                                <th style="white-space: nowrap;padding-right: 4em;float:center">Capacitador </th>
                                <th style="white-space: nowrap;padding-right: 4em;float:center">Personas a capacitar
                                </th>
                                <th style="white-space: nowrap;padding-right: 4em;float:center">Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let itemrow of formArr.controls; let i=index" [formGroupName]="i">
                                <td>{{temas[i].nombre}}</td>
                                <td>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Choose a date</mat-label>
                                        <input matInput [matDatepicker]="picker" formControlName="fecha"
                                            [min]="minDate">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>

                                </td>
                                <td>
                                    <mat-form-field><input matInput type="text" formControlName="capacitador">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field><input matInput type="text" formControlName="personasCapacitar">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field> <input matInput type="text" formControlName="descripcion">
                                    </mat-form-field>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
                <br>
                <button mat-raised-button color="primary" [disabled]="agendaForm.invalid" type="submit">Agendar</button>
                <br>
            </form>
            <br>
            <button mat-button color="primary" (click)="cancelar()"><u> Cancelar </u>
            </button>
        </div>
    </mat-list-item>


</div>