<h1>Agendas realizadas al cliente {{clienteNombre}}</h1>
<mat-table [dataSource]="agendas">


    <ng-container matColumnDef="index">
        <mat-header-cell *matHeaderCellDef> Num. </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index"> {{i+1}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tema">
        <mat-header-cell *matHeaderCellDef> Tema </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.tema_nombre}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fechaCapacitacion">
        <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.fecha}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="capacitador">
        <mat-header-cell *matHeaderCellDef> Capacitador </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.capacitador}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="personasCapacitar">
        <mat-header-cell *matHeaderCellDef> Personas a capacitar </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.personas_capacitar}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="descripcion">
        <mat-header-cell *matHeaderCellDef> Descripcion </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.descripcion}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
<br>
<button mat-raised-button color='primary' (click)="regresar()">Regresar</button>